*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

.location:hover {
  background-color: #909192;
}

.content h1 {
  font-size: 18px;
  font-weight: 700;
}

.content h3 {
  font-size: 13px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;

}
.restaurant-list {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin-top: 12%;

}

.location {
    background-color: #d2d3d5;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 1px solid #000;
}

.content {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 20%;
  padding-left: 3%;

}

.arrow {
  display: inline-block;
  float: right;
  width: 8%;
}
